<h2>websockets</h2>

<h2>Titulo de producto:</h2><h3 id="titleP">PC</h3>
<h2>Descripción:</h2><h4 id="descriptionP">Compu gamer</h4>
<h2>Precio: $</h2><h5 id="priceP">15000</h5>
<h2>Categoria:</h2><h5 id="categoryP">tecnologia</h5>
<h2>El stock es:</h2><p id="stockP">10</p>

<form id="form">
    Titulo: <input type="text" name="title" id="title">
    Descripción: <input type="text" name="description" id="description">
    Precio: <input type="number" name="price" id="price">
    Codigo: <input type="text" name="code" id="code">
    Categoria: <input type="text" name="category" id="category">
    Stock: <input type="number" name="stock" id="stock">
    <input type="submit" value="ENVIAR">

</form>





<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>